<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Vue Clicker</title>
</head>
<body>
    
    <div class="page" id="app">

        <div class="shop">
            <div class="shop__inner">
                <div class="shop__title">Улучшения</div>

                <div class="shop__body">
                    <div class="shop__item" v-for="item in upgrade">
                        <p class="shop__item__title">{{ item.name }}</p>
                        <div class="shop__item__info">
                            <p>Цена: {{ item.cost }} очков</p>
                            <p>{{ item.info }} +{{ item.info_int }}</p>
                            <p>Уровень: {{item.level}}</p>
                        </div>
                        <button class="shop__item__button" @click="shopBtnClick(item)">Купить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn">
            <div class="social">created <a href="https://github.com/AlexeySay">alexeysay</a></div>

            <button class="main__btn" @click="mainBtn"> <img src="skelets.png" alt=""></button>
        </div>
        
        <div class="stats">

            <div id="complitedText">Вы выполнили достижение</div>
            <div id="errorText">Недостаточно очков</div>

            <div class="stats__inner">
                <div class="stats__title">Статистика</div>

                <div class="stats__body">
                    <div>Всего кликов: {{ counter }}</div>
                    <div>Очков за клик: {{ scoreUp }}</div>
                    <div>Ваши очки: {{ score }}</div>
                </div>
            </div>
        </div>

        <div class="achievements">
            <div class="ach__inner">
                <div class="ach__title">Достижения</div>

                <div class="ach__buttons">
                    <button class="ach__btn">Все</button>
                    <button class="ach__btn">Выполненные</button>
                    <button class="ach__btn">Не выполненные</button>
                </div>
                
                <div class="ach__body">
                    <div v-for="item in achievements" v-bind:class="{'line' : item.done}"> {{ item.name }} </li>
                </div>
                {{achievementsUpdate}}
            </div>
        </div>
    </div>
    <audio id="complited" src="sound/complited.mp3"></audio>
    <audio id="upgrade" src="sound/upgrade.mp3"></audio>
    <audio id="error" src="sound/error.mp3"></audio>
</body>
<script src="script.js"></script>
</html>