body {margin: 0;}* {box-sizing: border-box;}:focus {outline: none;}

.page {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: grid;
    grid-template-rows: auto auto 45vh;
    grid-template-columns: 30vw 1fr 30vw;
    grid-template-areas: 
    "shop btn achievements"
    "shop btn achievements"
    "shop stats achievements";

    background-color: #333333;
    font-family: consolas;
    font-size: 20px;
    color: #ddd;
}
/* ================================================ 
=== grid area 
=================================*/
.shop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-area: shop;
}
.btn {
    display: flex;
    width: 100%;
    height: 100%;
    grid-area: btn;
}
.achievements {
    width: 100%;
    height: 100%;
    grid-area: achievements;
}
.stats {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 100%;
    grid-area: stats;
}

/* ================================================ 
=== main btn 
=================================*/
.main__btn {
    font-family: consolas;
    font-size: 20px;
    margin: 20vh auto 0;
    cursor: pointer;
    border: 0;
    background-color: #ddd;
    width: 18vw;
    height: 4vw;
}

/* ================================================ 
=== shop
=================================*/
.shop__inner {
    height: 90%;
    width: 90%;
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    overflow-x: hidden;   
}
.shop__inner::-webkit-scrollbar {
    width: 7px;
}
.shop__inner::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #ddd;
}
.shop__item {
    margin: 10px auto 60px;
    width: 95%;
    padding: 5px;
    border: 1px solid #ddd;
}

/* ================================================ 
=== stats
=================================*/
.stats__inner {
    height: 80%;
    width: 90%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

/* ================================================ 
=== achievements 
=================================*/
.ach__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0 10px 15px;
    background-color: rgba(0, 0, 0, 0.5);
}
.line {
    text-decoration: line-through;
    color: #fff;
}
