body {
    background-color: #b5838d;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque-dark.png");
    margin: 0;
    font-family: 'Roboto', sans-serif;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
*, *:after, *:before {
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}
/* ====== Container ====== */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
/* ====== Header ====== */
.header {
    width: auto;
    height: auto;
    margin-top: 50px;
    padding: 10px;
    background-color: #6d6875;
    text-align: center;
    border: 1px solid #e5989b;
    border-radius: 10px;
}
.header__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header__items {
    color: #ffcdb2;
}

/* ====== Buttom ====== */
.button {
    margin: auto 0
}
.button__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    width: 25vw;
    height: 15vh;
    background-color: transparent;
    border: 2px solid #e5989b;
    font-weight: 600;
    font-size: 30px;
    color: #e5989b;
    transition: .2s linear;
}
.btn:hover {
    background-color: #e5989b;
    color: #6d6875;
}
.btn:active {
    background-color: transparent;
    color: #e5989b;
}
.btn:focus {
    outline: none;
}
/* ====== Footer ====== */
.footer {
    width: 100%;
    height: auto;
    background-color: #6d6875;
    border-top: 1px solid #e5989b;
    margin-top: auto;
}
.footer__inner {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.footer__items {
    color: #ffcdb2;
    margin-right: 30px;
}
