{% extends "clicker/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="page">

            <header class="header">
                <div class="header__inner">

                    <div class="header__items">
                        <h1 id="score">Hello! Ten clicks on the button, please!</h1>
                    </div>

                    <div class="header__items">
                        <h2 id="money"></h2>
                    </div>

                </div>
            </header> <!-- /.header -->
        
            <main class="main">
                    <div class="shop__area">
                        <article class="shop" id="shop">

                            <div class="shop__header">
                                <button class="shop__tab" id="shop__tab" data-tab="#tab_theme">Theme</button>

                                <button class="shop__tab" id="shop__tab" data-tab="#tab_upgrade">Upgrade</button>
                            </div>

                            <div class="shop__body">
                                <article class="shop__items" id="tab_theme">
                                    No Theme ;C
                                </article> 

                                <article class="shop__items" id="tab_upgrade">
                                    <!-- money profit -->
                                    <div class="items__group">
                                        <div class="group__title">Upgrade money profit</div>
                                        <article class="group_info">
                                            <p id="profit">Money profit = +"n"</p>
                                            <p id="cost">Cost: "n"</p>
                                        </article>
                                        <button class="btn__buy" id="btn__money__up">Buy upgrade</button>
                                    </div>
                                    <!-- money profit -->
                                    <div class="items__group">
                                        <div class="group__title">Upgrade money profit</div>
                                        <article class="group_info">
                                            <p id="profit">Money profit = +"n"</p>
                                            <p id="cost">Cost: "n"</p>
                                        </article>
                                        <button class="btn__buy" id="btn__money__up">Buy upgrade</button>
                                    </div>
                                    <!-- money profit -->
                                    <div class="items__group">
                                        <div class="group__title">Upgrade money profit</div>
                                        <article class="group_info">
                                            <p id="profit">Money profit = +"n"</p>
                                            <p id="cost">Cost: "n"</p>
                                        </article>
                                        <button class="btn__buy" id="btn__money__up">Buy upgrade</button>
                                    </div>
                                </article>



                            </div> <!-- /.shop__body -->

                        </article> <!-- /.shop -->
                    </div> <!-- /.shop__area -->

                    <!-- Super button -->
                    <div class="btn__area">
                        <button class="btn" id="btn1">Button</button>
                    </div>

            </main> <!-- main -->
        

            <!--=== Footer ===-->
            <footer class="footer">
               <div class="container">
                    <div class="footer__inner">
                        <div class="footer__items">Create by AlexeySay</div>
                        <div class="footer__items"><p id="f2"></p></div>
                    </div>
                </div><!--/.container-->
            </footer>
            <!--=== End footer ===-->

        </div> <!-- /.page -->
        {% else %}
        <p style="color: orange; font-size: 50px; text-align: center;">Please, login or register </p>
        {% endif %}

        <script src="script.js"></script>
{% endblock %}