{% extends "clicker/layout.html" %}
{% block body %}

    <div class="container">
        <div class="top">
            <div class="top__title"></div>
            <div class="hr"></div>

            <div class="top__body">
                <div class="body__item">
                    <div class="playerName"></div>
                    <div class="playerMoney"></div>
                    <ul>
                        <li class="li">Username: {{ user.username }}</li>
                        <li class="li">Count: {{ user.count }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
